body {
    background-color: var(--blue-dark);
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 25vh;
}

#left {
    height: 32px;
    width: 32px;
    position: absolute;
    transform: translateY(20px);
    left: 30px;
}

img {
    height: 200px;
}

h1 {
    font-size: 1.2em;
    color: var(--white);
    text-align: center;
}


main {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 80%;
    margin-left: 35px;
    padding: 15px;

border: 2px solid white;
}

p {
    font-weight: normal;
    color: white;
    text-align: center;
}

main #check__mark {
    height: 80px;
    width: 80px;
    margin-left: 33%;
    margin-bottom: 20px;
}

button.next__button {
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: var(--button-color);
    font-weight: bold;
    color: var(--white);
    margin-left: 18%;
    margin-bottom: 30px;
    width: 250px;
    font-size: .9em;
    transform: translateY(40px);
}
