body {
    background-color: var(--blue-dark);
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 25vh;
}

#left {
    height: 32px;
    width: 32px;
    position: absolute;
    transform: translateY(20px);
    left: 30px;
}

img {
    height: 200px;
}

h1 {
    font-size: 1.1em;
    color: var(--white);
    text-align: center;
}

p {
    text-align: center;
    color: white;
}


main {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

main #profile__image {
    height: 100px;
    width: 100px;
    margin-left: 35%;
}

main #image__path {
    width: 50%;
    margin-left: 23%;
    text-indent: 10px;
    height: 25px;
}

main #reload__button {
    height: 30px;
}

main #reload {
    width: 40px;
    background: var(--blue-color);
    margin-left: 45%;
    transform: translateY(-20px);
}

button.next__button {
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: var(--button-color);
    font-weight: bold;
    color: var(--white);
    margin-left: 18%;
    margin-bottom: 30px;
    width: 250px;
    font-size: .9em;

    transform: translateY(-20px);
}





@media (min-width:500px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        /* background-color: red !important; */
    }

    main {
        width: 80%;
    }

    form {
        /* margin: 0 auto !important; */
    }
}


@media (min-width:643px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: red; */
    }

    main {
        /* background-color: green */
    }

    form {
        margin-left: 15%;
    }
}





@media (min-width: 750px) {
    button.next__button {
        margin-left:25%;
    }

    main #profile__image {
        height: 100px;
        width: 100px;
        margin-left: 40%;
    }
}

@media (min-width: 1000px) {
    button.next__button {
        margin-left:38%;
    }

    main #reload {
        width: 40px;
        margin-left: 47%;
    }

    main #profile__image {
        height: 100px;
        width: 100px;
        margin-left: 45%;
    }
}



