body {
    background-color: var(--blue-dark);
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 25vh;
}

#left {
    height: 32px;
    width: 32px;
    position: absolute;
    transform: translateY(20px);
    left: 30px;
}

img {
    height: 200px;
}

h1 {
    font-size: 1.1em;
    color: var(--white);
    text-align: center;
}

main {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 100%;    
}

.page__description {
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin-left: 15%;
    color: white;
    text-align: center;
}


main .service__categories {
    margin-left: 10px;
    margin-top: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-btn,
  .next__button {
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: var(--button-color);
    font-weight: bold;
    color: var(--white);
    margin-left: 18%;
    margin-bottom: 30px;
    width: 260px;
    font-size: .9em;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    width: 200px;
    left: 60px;
  }

  .dropdown-menu input[type="checkbox"] {
    margin-right: 5px;
  }

  .dropdown-menu label {
    display: block;
    cursor: pointer;
    padding: 5px 0;
  }

  .dropdown.active .dropdown-menu {
    display: block;
  }

  .next__button {
    margin-left: 55px;
    transform: translateY(-50px);
  }